<div class="container">
  <h1>Deckname</h1>
  <form>
  	<legend>Ready to play?</legend>
    <fieldset>
  	  Front: <%= "Front Text" %><br>
  	  Back:  <%= "Back Text" %><br>
    </fieldset>
  </form>
</div>