<div class="container">
  <h1>gameOver.</h1>
  <form name="game_over" method="GET" action="/end">
    <fieldset>
      <legend><h4>Thanks for Playing!</h4></legend><br>
        <h5><p>Choose an option:</p></h5>
      <input type="submit" name="replay" value="Replay"/>
      <input type="submit" name="quit" value="Quit"/>
    </fieldset>
  <a href="/">Home</a>
</div>
