<div class="container">
  <h2>Game Over</h2>
  <form name="game_over" method="POST" action="/start/deck_name">
    <fieldset>
      <legend>Thanks for playing</legend>
        <h4><p>Choose an option:</p></h4>
        <p><input type="submit" value="Replay"/></p>
        <p><input type="submit" value="Quit"/></p>
    </fieldset>
  <a href="/">Home</a>
</div>