<div class="container">
  <h1>flashCards.</h1>
  <form name="decklist" method="POST" action="/validate_user">
    <fieldset>
      <%if @wrong_password%><h3>Incorrect Password</h3><%end%>
      <%if @no_user%><h3>No user exists</h3><%end%>
      <%if @two_users%><h3>Someone already logged in</h3><%end%>
      <%if @same_user%><h3>You are already logged in</h3><%end%>
      <legend><h5>Login Here:</h5></legend><br />
      <p>Email: <input type="text" name="email" value="<%if @wrong_password%><%=@user.email%><%end%>"></p>
      <p>Password: <input type="password" name="password"/></p>
      <input type="submit" value="Login">
        <blockquote>Click a category below to head to the start page..</blockquote>
        <h5>Decks:</h5>
        <%@deck_names.each do |deck|%>
          <a href="/<%=deck%>/start"><h6><%= deck %></h6></a>
        <% end %>
    </fieldset>
  </form>
  <a href="/create_user">Create User</a>
  <%if session[:current_user]%>
    <a href="/profile_page">Profile Page</a>
    <a href="/logout">Logout</a>
  <%end%>
</div>

