<div class="container">
  <h1>flashCards.</h1>
  <form name="decklist" method="POST" action="/start/">
    <fieldset>
      <legend><h5>Login Here:</h5></legend><br />
      <p>Username: <input type="text" name="username"/></p>
      <p>Password: <input type="password" name="password"/></p>
      <input type="submit" value="Login" action="/home_page">
        <blockquote>Click a category below to head to the start page..</blockquote>
        <h5>Decks:</h5>
        <%@deck_names.each do |deck|%>
          <a href="/<%=deck%>/start"><h6><%= deck %></h6></a>
        <% end %>
    </fieldset>
  </form>
  <a href="/create_user">Create User</a>
</div>

