<div class="container">
  <h1>Flashcards!</h1>
  <form name="decklist" method="POST" action="/start/">
    <fieldset>
      <legend>Login Here:</legend>
      <!-- <p>Username: <input type="text" name="username"/>
      <p>Password: <input type="password" name="password"/> -->
        <p>Decks: <br>

        <%@deck_names.each do |deck|%>
          <a href="/<%=deck%>/start"><%=deck%></a><br>
        <%end%>
    </fieldset>
  </form>
</div>

